.custom-select-container,
.custom-select-container_calendar {
  position: relative;
  min-width: 167px;
  min-height: 33px;
  text-align: center;
  background: #CECECE;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

.selected-text {
  position: relative;
  width: 100%;
  height: 33px;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4D4D4D;
  text-transform: uppercase;
  z-index: 1;
}

.custom-select-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 9px;
  border: 7px solid transparent;
  border-color: #4C4C4C transparent transparent transparent;
  transform: translateY(-25%);
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -o-transform: translateY(-25%);
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.custom-select-container.active::after {
  border-color: transparent transparent #4C4C4C transparent;
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-75%);
  -webkit-transform: translateY(-75%);
  -moz-transform: translateY(-75%);
  -ms-transform: translateY(-75%);
  -o-transform: translateY(-75%);
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.custom-select-container_calendar::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 9px;
  background: url('../../assets/icons/calendar.svg') no-repeat center/contain;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.select-options,
.calendar {
  position: absolute;
  min-width: 285px;
  width: 100%;
  top: calc(100% + 7px);
  left: 0;
  padding: 3px;
  background-color: #eeeeee;
  border-radius: 6px;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  z-index: 2;
}

.calendar {
  left: auto;
  right: 0;
}

.select-filter__wrapper {
  padding: 7px;
}

.select-filter {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.custom-select-option {
  align-items: center;
  gap: 7px;
  text-align: left;
  list-style: disc;
  padding: 12px 16px;
  background-color: #ffffff;
  color: #212529;
  font-size: 12px;
  cursor: pointer;
}

.custom-select-option::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.custom-select-option:nth-child(2):before {
  background-color: #198754;
}

.custom-select-option:nth-child(3):before {
  background-color: #0D6EFD;
}

.custom-select-option:nth-child(4):before {
  background-color: #DC3545;
}

.custom-select-option:nth-child(5):before {
  background-color: #0DCAF0;
}

.custom-select-option:hover {
  background-color: var(--grey-color);
  color: #ffffff;
}

/* ----------Calendar----------- */