@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Times New Roman';
  src: url('./../assets/fonts/Times New Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  overflow: visible;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  overflow-y: scroll !important;
}

main {
  flex: 1 1 auto;
}

/* Color roots */
:root {
  --white-color: #ffffff;
  --black-color: #4D4D4D;
  --primary-color: #fcaf17;
  --grey-color: #696871;
}