@import "./reset.css";

.App {
  overflow: visible;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  overflow-y: scroll !important;
}

main {
  flex: 1 1 auto;
}

/* Color roots */
:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-color: #fcaf17;
  --grey-color: #696871;
}
