.document_wrapper {
  display: flex;
  width: 260px;
  padding: .6rem;
  border-radius: 6px;
}

.document_wrapper:hover {
  cursor: pointer;
}

.document-img_wrapper {
  width: 76px;
}

.document-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin-left: 20px;
}

.document-text {
  font-size: 12px;
}