.view-documentation__selects {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 20px;
}

.view-documentation__documents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  margin-top: 43px;
}

